* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
}

header {
    background-color: #006847; /* Verde */
}

.topo {
    width: 100%;
    margin: auto;
}

header p {
    text-align: right;
    color: #FFF;
    margin-right: 45px;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 10px;
}

header h1, header h3, header p {
    text-shadow: 4px 4px 4px rgba(2, 2, 2, 1); /* Adiciona sombreamento em cinza */
}

h1 {
    color: #FFF;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
}

h3 {
    color: #FFF;
    font-size: 26px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    margin: 15px 50px;
}
main p {
    text-align: justify;
    margin: 20px 50px;
    color: green;
    font-size: 25px;


}
/* Estilos para o menu de navegação */
.navbar {
    background-color: #C8102E; /* Cor de fundo do menu */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.navbar-toggler-icon {
    color: green; /* Cor do ícone do botão de alternância */
}

.navbar-nav {
    text-align: center; /* Alinhar o menu horizontalmente */
}

.nav-item {
    margin: 0 10px; /* Espaçamento entre os itens do menu */
}

.nav-link {
    color: #FFF; /* Cor dos links do menu */
    font-size: 20px; /* Tamanho da fonte dos links */
    text-transform: uppercase; /* Transformar texto em maiúsculas */
    transition: color 0.3s; /* Transição suave da cor do texto */
}

.nav-link:hover {
    color: green; /* Cor dos links ao passar o mouse */
    background-color: #C8102E; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o footer */
footer {
    background-color: #C8102E; /* Cor de fundo do footer */
    color: #006847; /* Cor do texto no footer */
    padding: 35px 0; /* Espaçamento interno no topo e na parte inferior */
    letter-spacing: 1px; /* Espaçamento entre letras */
    text-align: center; /* Centraliza o texto horizontalmente */
    height: 100%; /* Define a altura do footer como 100% */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px; /* Tamanho da fonte do texto */
}
footer a:hover {
    color: green;
}

footer p {
    color: whitesmoke;
    font-size: 18px; /* Tamanho da fonte do texto */
    font-family: Arial, Helvetica, sans-serif; /* Família de fontes */
}


/* Adicione uma classe para as imagens lado a lado */
.imagem-lado-a-lado {
    width: 480px; /* Largura desejada */
    height: 380px; /* Altura desejada */
    margin-right: 10px; /* Margem à direita para separar as imagens */
    border-radius: 5%;
    border-color: green;
    border-style: double;
    border-width: 2px;
}

/* Outros estilos personalizados para o seu conteúdo, como margens e espaçamento */
.container {
    padding: 20px;
}

p {
    text-align: justify;
}
