* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
}


.topo {
    width: 100%;
    margin: auto;
}
header h1 {
    text-align: center;
    color: green;
    margin: 0px 0px 0px 0px;
    font-size: 50px;
    padding:0px 0px 120px 0px;
    text-transform: uppercase;
}
header h3 {
    text-align: center;
    color: #FFF;
    margin: 0px 0px -40px 0px;
    font-size: 30px;
    padding:50px 0px 0px 0px;
    text-transform: uppercase;
}
header p {
    text-align: right;
    color: #FFF;
    font-style: italic;
    font-size: 14px;
    margin:50px 50px 0px 0px;
}

header h1, header h3, header p {
    text-shadow: 4px 4px 4px rgb(0, 0, 0); /* Adiciona sombreamento em cinza */
}

h1 {
    color: #FFF;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
}

h3 {
    color: #FFF;
    font-size: 26px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    margin: 15px 50px;
}
main p {
    text-align: justify;
    margin: 20px 50px;
    color: green;
    font-size: 25px;
}
main h2 {
    text-align: center;
    font-weight: bold;
    color: #C8102E;
    font-size: 30px;
    margin: 20px 50px;
    text-transform: uppercase;
}
/* Estilos para o menu de navegação */
.navbar {
    background-color: #C8102E; /* Cor de fundo do menu */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.navbar-toggler-icon {
    background-color: whitesmoke;
    color: green; /* Cor do ícone do botão de alternância */
    border-color: whitesmoke; /* Cor da borda do botão de alternância */
    border-radius: 5px; /* Raio das bordas do botão de alternância */
    padding: 5px; /* Espaçamento interno do botão de alternância */
}
/* Altere a cor do ícone do hamburguer quando ele está menor */
.navbar-toggler-icon svg {
    fill: green; /* Cor do ícone */
}
/* Centralize o ícone do hamburguer vertical e horizontalmente */
.navbar-toggler-icon {
    display: flex;
    justify-content: center; /* Centralize horizontalmente */
    align-items: center; /* Centralize verticalmente */
}

.navbar-nav {
    text-align: center; /* Alinhar o menu horizontalmente */
}

.nav-item {
    margin: 0 10px; /* Espaçamento entre os itens do menu */
}

.nav-link {
    color: #FFF; /* Cor dos links do menu */
    font-size: 20px; /* Tamanho da fonte dos links */
    text-transform: uppercase; /* Transformar texto em maiúsculas */
    transition: color 0.3s; /* Transição suave da cor do texto */
}

.nav-link:hover {
    color: green; /* Cor dos links ao passar o mouse */
    background-color: #C8102E; /* Cor de fundo ao passar o mouse */
}



/* Estilos para o footer */
footer {
    background-color: #C8102E; /* Cor de fundo do footer */
    color: #006847; /* Cor do texto no footer */
    padding: 35px 0; /* Espaçamento interno no topo e na parte inferior */
    letter-spacing: 1px; /* Espaçamento entre letras */
    text-align: center; /* Centraliza o texto horizontalmente */
    height: 100%; /* Define a altura do footer como 100% */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px; /* Tamanho da fonte do texto */
}
footer a:hover {
    color: green;
}

footer p {
    color: whitesmoke;
    font-size: 18px; /* Tamanho da fonte do texto */
    font-family: Arial, Helvetica, sans-serif; /* Família de fontes */
}


/* Adicione uma classe para as imagens lado a lado */
.imagem-lado-a-lado {
    width: 480px; /* Largura desejada */
    height: 380px; /* Altura desejada */
    margin-right: 10px; /* Margem à direita para separar as imagens */
    border-radius: 5%;
    border-color: green;
    border-style: solid;
    border-width: 2px;
}

/* Outros estilos personalizados para o seu conteúdo, como margens e espaçamento */
.container {
    padding: 20px;
}

p {
    text-align: justify;
}
img {
    border-radius: 5%;
    border-color: green;
    border-style: solid;
    border-width: 2px;
}
/* Estilo CSS para as imagens do carrossel */
.carousel-item img {
    height: 400px; /* Defina a altura desejada para as imagens */
    width: 100%; /* Defina a largura como 100% para manter a proporção */
    object-fit: cover; /* Garante que a imagem mantenha a proporção original e preencha todo o espaço disponível */
}
/* Estilo para o elemento de áudio */
audio {
    width: 100%; /* Largura total */
    max-width: 400px; /* Largura máxima (ajuste conforme necessário) */
    margin: 0 auto; /* Centralize horizontalmente */
    display: block; /* Transforme em bloco para centralização automática */
}

/* Estilo para os controles de áudio */
audio::-webkit-media-controls-panel {
    background-color: green; /* Cor de fundo */
    color: #FFF; /* Cor do texto */
    border-radius: 10px; /* Borda arredondada */
    padding: 10px; /* Espaçamento interno */
}

/* Estilo para os botões de controle de áudio */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider {
    background-color: #FFF; /* Cor de fundo dos botões */
    color: #C8102E; /* Cor do ícone dos botões */
    border-radius: 50%; /* Borda circular para botões de controle */
    width: 30px; /* Largura dos botões */
    height: 30px; /* Altura dos botões */
}

/* Estilo para a barra de progresso de áudio */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-timeline {
    background-color: transparent; /* Barra de progresso transparente */
    color: #FFF; /* Cor do texto da barra de progresso */
}

/* Estilo para a barra de progresso de áudio preenchida */
audio::-webkit-media-controls-timeline {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo da barra de progresso */
    height: 5px; /* Altura da barra de progresso */
    border-radius: 5px; /* Borda arredondada */
}

/* Estilo para a barra de progresso de áudio preenchida */
audio::-webkit-media-controls-timeline-progress-bar {
    background-color: #C8102E; /* Cor de preenchimento da barra de progresso */
}
/* Estilo para a tabela */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #fa0000;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Estilo para os cabeçalhos da tabela */
.table th {
    background-color: #f8f9fa;
    text-align: left;
    font-weight: bold;
}

/* Estilo para as células da tabela */
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/* Estilo para as linhas pares da tabela */
.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

/* Estilo para realçar a primeira coluna (rótulos) */
.table tbody th {
    background-color: #e1ffe6;
}

/* Estilo para a tabela responsiva em telas menores */
@media (max-width: 575.98px) {
    .table {
        display: block;
    }
    .table thead {
        display: none;
    }
    .table tbody {
        display: block;
    }
    .table tbody tr {
        margin-bottom: 0.625rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .table tbody td {
        margin-top: 0.625rem;
        margin-right: 0;
    }
    .table tbody th {
        margin-top: 0.625rem;
        margin-right: 0;
    }
}

